<div class="release-information">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <div class="release-name">
      <img src="../assets/micro/base/user.jpg" alt="头像" class="img-circle img-head">
      <span class="name">昵称</span>
      <div class="release-container">{{text}}</div>
      <img src="../assets/micro/base/user.jpg" alt="..." class="img-rounded picture">
      <ul>
        <li>收藏<em>|</em></li>
        <li>评论<em>|</em></li>
        <li><span class="glyphicon glyphicon-thumbs-up"></span></li>
      </ul>  
    </div>
  </div>
</div>